[settings]
# ресайз перед поиском лиц сильно повышает скорость
resize = true

# до какого размера по большей стороне уменьшать фото перед обработкой:
# чем меньше числа (пиксели по горизонтали и вертикали), тем меньше расход памяти и процессоров
# с другой стороны чем меньше числа – тем меньше точность распознавания лиц
max_size = 1000,1000

# определяет точность распознавания – чем больше, тем хуже,
# я поставил 0.52, при 0.6 левых людей много кидает, при ниже 0.5 и себя не узнаёт
threshold = 0.52

# чем меньше, тем меньше добавляет людей в бокэ
laplacian_threshold = 500
# чем меньше, тем меньше добавляет людей в бокэ
gradient_threshold = 90
# чем меньше, тем меньше добавляет людей в бокэ
high_pass_threshold = 50
# чем меньше, тем меньше добавляет людей в бокэ
high_freq_threshold = 200
# чем больше, тем меньше добавляет людей в бокэ
lbp_threshold = 10

[paths]
# путь ко всем изображениям 
images = images
# путь к селфи по умолчанию
selfies_default = images/@selfies
# путь ко всем изображениям
all_photos = images/@all_photos
# путь к кешу numpy
cache = numpy_cache

[cloud]
# токен Yandex.Disk
token = y0_Rt0k3N
# путь на Яндекс, пробел после / не случаен
cloud_selfies = / SelfieBot